.app{
  text-align: center;
}

.list{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card{
  border: 1px solid black;
  padding: 15px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px black;
}

button{
  margin-top: 20px;
}