:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  margin-top: 20%;
}
header{
  background-color: #747bff;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
footer{
  background-color: #50515e;
  padding: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
